.brend {
   padding-top: 50px;
   padding-bottom: 50px;
   &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
   }
   &__item {
      background: #000;
      width: 250px;
      height: 150px;
      transition: all 0.3s ease 0s;
      cursor: pointer;
   }
   &__item:hover {
      transform: translateY(-20px);
   }
   &__item:not(:last-child) {
      margin-right: 20px;
   }
}

@media (max-width: 600px) {
   .brend {
      &__item {
         margin-top: 20px;
      }
   }
}
